

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    //background-color: #f5f5f5;
}

//responsive design
@media (max-width: 768px) {
    .layout {
        //height: 100%;
        padding: 20px;

    }
}